* {
	margin: 0;
	padding: 0;
}
body {
	font-family: PingFangSC-Regular!important;
}


/*包含以下四种的链接*/
a {
	text-decoration: none!important;
	color: #fff;
}


.contain {
	/* width: 100%;
	min-width: 1300px; */
	width: 1190px;
	margin: 0 auto;
}

.contain img {
	width: 100%;
	display: block;
}

.contain1 {
	/* width: 100%; */
	width: 1190px;
	margin: 0 auto;
	background: url(../img/bj.png);
	background-size: cover;
}

.flash_sale {
	width: 1190px;
	margin: auto;
	padding-bottom:10px;
	position: relative;
}

.flash_sale_head {
	width: 815px;
	height: 187px;
	position: absolute;
	text-align: center;
	margin: auto;
	background: url(../img/head.png);
	background-size: 100%;
	font-size: 50px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 187px;
	letter-spacing: 0px;
	color: #f19b20;
	z-index: 100;
	left: 0;
	right: 0;
	top: -125px;
}


.flash_sale_cont {
	width: 1190px;
	height: 659px;
	margin: auto;
	position: relative;
	/* background: red; */
	background: url(../img/bg1.png) no-repeat;
	padding-bottom: 50px;
}

.left_up {
	position: absolute;
	left: 0;
	top: 0;
}

.rit_up {
	position: absolute;
	right: 0;
	top: 0;
}

.left_down {
	position: absolute;
	left: 0;
	bottom: 0;
}

.rit_down {
	position: absolute;
	right: 0;
	bottom: 0;
}

.flash_sale_cont_mid {
	width: 1118px;
	margin: auto;
}

.flash_sale_cont_mid1 {
	display: flex;
	justify-content: space-between;
}

.flash_sale_cont_mid1_c {
	margin-top: 85px;
	width: 25%;
	height: 60px;
	text-align: center;
	background-color: #ca132c;
	border-radius: 10px 10px 0 0;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
}

.flash_sale_cont_mid2 {
	display: flex;
	justify-content: space-between;
}

.flash_sale_cont_mid2_c {
	width: 93px;
	height: 71px;
	display: flex;
    flex-direction: column;
    justify-content: center;
	background: #fff;
	border-right: #ca132c solid 1px;
	cursor: pointer;
}

.flash_sale_cont_mid2_c p {
	width: 100%;
	text-align: center;
	margin: 0!important;
	/* margin-bottom: 2px; */
}

.flash_sale_cont_mid2_c.js {
	background-color: #a29999;
	color: #fff;
}

.flash_sale_cont_mid2_c.jx {
	color: #ff2222;
}

.flash_sale_cont_mid2_c.sh {
	color: #ab7f25;
}

.flash_sale_cont_mid2_c_p1 {
	/* padding-top: 7px; */
	font-size: 18px;
}

.flash_sale_cont_mid2_c_p2 {
	font-size: 14px;
}

.flash_sale_cont_mid3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.time_limit_sale_cont .flash_sale_cont_mid3{
	margin-top: 20px;
	justify-content: center;
}
.time_limit_sale_cont .flash_sale_cont_mid3_c {
	margin: 0 25px;
} 
.flash_sale_cont_mid3_c {
	width: 320px;
	height: 381px;
	background-image: linear-gradient(0deg,
		#f26a30 0%,
		#fee1d1 100%),
		linear-gradient(#cb3415,
		#cb3415);
	background-blend-mode: normal,
		normal;
	border-radius: 18px;
	border: solid 3px #e6bd75;
	/* border-top: none; */
	text-align: center;
	overflow: hidden;
	
}

.flash_sale_cont_mid3_c img {
	width: 180px;
	height: 180px;
	margin-top: 30px;
}

.flash_sale_cont_mid3_c p {
	color: #ffffff;
	font-size: 18px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	width: 280px;
	height: 50px;
	margin: auto;
	margin-top: 21px;
	text-align: left;
}

.mid3_c {
	width: 100%;
	height: 80px;
	background-image: linear-gradient(83deg,
		#9e0015 0%,
		#f52644 44%,
		#dd1e3f 100%),
		linear-gradient(#cb3415,
		#cb3415);
	background-blend-mode: normal,
		normal;
	border-top: solid 3px #e6bd75;
	margin-top: 15px;

}

.mid3_c1 {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.mid3_c_rit {
	width: 91px;
	height: 41px;
	line-height: 41px;
	background-image: linear-gradient(0deg,
		#ffffdd 0%,
		#ffffff 100%),
		linear-gradient(#000000,
		#000000);
	background-blend-mode: normal,
		normal;
	box-shadow: 2px 3px 3px 0px rgba(191, 54, 0, 0.75);
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #cb3415;
	border-radius: 10px;
}
.mid3_c_rit.active {
	background: #a29999;
	color: #fff;
}
.mid3_c_left {
	font-size: 40px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: -2px;
	color: #ffe9d3;
}
/* 满减 */
.flash_sale_cont_1 {
	width: 1190px;
	height: 553px;
	margin: auto;
	position: relative;
	/* background: red; */
	background: url(../img/bg2.png) no-repeat;
	padding-bottom: 50px;
	margin-top: 85px;
}

.quality_selection {
	width: 1190px;
	height: 2264px;
	background: url(../img/bg3.png) no-repeat;
}

.flash_sale_cont_1 .flash_sale_cont_mid3_c {
	width: 236px;
	height: 381px;
	background-image: linear-gradient(0deg,
		#f26a30 0%,
		#fee1d1 100%),
		linear-gradient(#cb3415,
		#cb3415);
	background-blend-mode: normal,
		normal;
	border-radius:18px;
	border: solid 3px #e6bd75;
	text-align: center;
	overflow: hidden;
	margin: auto;
	margin-top: 10px;
}

.flash_sale_cont_1 .flash_sale_cont_mid3_c img {
	width: 180px;
	height: 180px;
	margin-top: 30px;
}

.flash_sale_cont_1 .flash_sale_cont_mid3_c p {
	color: #ffffff;
	font-size: 18px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	width:90%;
	margin: auto;
	margin-top: 21px;
}

.flash_sale_cont_1 .mid3_c {
	width: 100%;
	height: 78px;
	background-image: linear-gradient(83deg,
		#9e0015 0%,
		#f52644 44%,
		#dd1e3f 100%),
		linear-gradient(#cb3415,
		#cb3415);
	background-blend-mode: normal,
		normal;
	border-top: solid 3px #e6bd75;
	margin-top: 15px;

}

.flash_sale_cont_1 .mid3_c1 {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.flash_sale_cont_1 .mid3_c_rit {
	width: 91px;
	height: 41px;
	line-height: 41px;
	background-image: linear-gradient(0deg,
		#ffffdd 0%,
		#ffffff 100%),
		linear-gradient(#000000,
		#000000);
	background-blend-mode: normal,
		normal;
	box-shadow: 2px 3px 3px 0px rgba(191, 54, 0, 0.75);
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #cb3415;
	border-radius: 10px;
}

.flash_sale_cont_1 .mid3_c_left {
	font-size: 36px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: -2px;
	color: #ffe9d3;
}
.flash_sale_cont_mid3_c_1{
	width: 260px;
	height: 407px;
	background-image: linear-gradient(91deg, #016870 0%, #018387 29%, #009e9d 58%, #016971 100%), 
	linear-gradient(#e63621, #e63621);
	background-blend-mode: normal, normal;
	border-radius: 20px;
	border: solid 3px #e6bd75;
	margin-top: 85px;
}
.flash_sale_cont_mid3_c_1.yz{
	margin-top: 20px;
}
.flash_sale_cont_mid3.yz{
	padding-top: 65px;
}

/* 固定导航开始 */
.nav_p {
	position: fixed;
	right: 120px;
	top: 50%;
	z-index: 100;
	margin-top: -212.5px;
	width: 167px;
	height: 483px;
	z-index: 999;
}

.nav_p img {
	width: 100%;
}

.nav_p a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.nav_p span {
    position: absolute;
	right: 13px;
	display: inline-block;
    text-align: center;
	background: rgba(255,255,255,0);
	width: 141px;
	height: 44px;
	margin-top: -22px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav_p span a:link{
	text-decoration:none;
}
.nav_p span a:visited{
	text-decoration:none;
}
.nav_p span a:hover{
	text-decoration:none;
	color: #fff!important;
}
.nav_p span a:active{
	text-decoration:none;
}
/* 每增加一个楼梯，top值递增50px */
.nav_p .a1 {
    top: 154px;
}
.nav_p .a2 {
    top: 204px;
}
.nav_p .a3 {
    top: 254px;
}
.nav_p .a4 {
    top: 304px;
}
.nav_p .a5 {
    top: 354px;
}
.nav_p .a6 {
    top: 404px;
}
.nav_p .a7 {
    top: 454px;
}
.nav_p .a8 {
    top: 504px;
}

/* 固定导航结束 */